# macOS system files
.DS_Store

# Xcode files
DerivedData/
*.xcuserstate
*.xcworkspace

# Build products
build/
*.app

# CocoaPods
Pods/
Podfile.lock

# Swift Package Manager
/.swiftpm
Package.resolved

# Carthage
Carthage/Build

# Fastlane
fastlane/report.xml
fastlane/screenshots
fastlane/test_output
*.lock

# Environment variables and API keys
*.xcconfig

# Git
.git/

# Ignore GoogleService-Info.plist
GoogleService-Info.plist
